node_modules
.next
.env
.env.local
.env.*.local
.local-secrets/
*.key.pem
*.csr.pem
*.srl
coverage
npm-debug.log*
.DS_Store
*.tsbuildinfo
apps/api/dist
apps/web/.next
apps/web/node_modules
apps/api/node_modules
prisma/dev.db
